<div class="subtitle-list page-header">
  <%= link_to new_student_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> <%= t('code.student.new_student') %>
  <% end %>
  <h1><%= t('code.student.list_student') %></h1>
</div>

<div class="text-right">
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input name="search" type="text" value="<%= params[:search] %>"class="form-control" placeholder="<%= t('code.buttons.search') %>">
    </div>
    <button type="submit" class="btn btn-primary"><%= t('code.buttons.search') %></button>
  </form>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center"><%= t('code.student.id') %></th>
        <th><%= t('code.student.name') %></th>
        <th><%= t('code.student.responsible') %></th>
        <th class="text-center"><%= t('code.student.status') %></th>
        <th class="text-center"><%= t('code.student.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @students) do |student| %>
        <td class="text-center"><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.responsible %></td>
        <td class="text-center">
          <% if student.status? %>
            <i class="glyphicon glyphicon-ok"></i>
          <% else %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to t('code.buttons.show'), student, class: "btn btn-primary btn-xs" %>
          <%= link_to t('code.buttons.edit'), edit_student_path(student), class: "btn btn-primary btn-xs"%>
          <%= link_to t('code.buttons.destroy'), student, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, class: "btn btn-danger btn-xs" %>
        </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @students %>
</div>
