<!--
  The MIT License (MIT)

  Copyright (c) 2016 C.O.D.E

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.
-->

<%= form_for(@incident, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">
    <%= f.label :student, t('code.incident.student'), class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.autocomplete_field :student_id, autocomplete_student_name_school_performaces_path, class: "form-control", value: @incident.value_form %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_incident, t('code.incident.date_incident'), class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :date_incident, class: "form-control datepicker", value: @incident.date_insident_format %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t('code.incident.description'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control wysihtml5" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :soluction, t('code.incident.solution'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :soluction, class: "form-control wysihtml5" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
