<!--
  The MIT License (MIT)

  Copyright (c) 2016 C.O.D.E

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.
-->

<div class="subtitle-list page-header">
  <%= link_to new_incident_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> <%= t('code.incident.new_incident') %>
  <% end %>
  <h1><%= t('code.incident.list_incidents') %></h1>
</div>

<div class="text-right">
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input name="search" type="text" value="<%= params[:search] %>"class="form-control" placeholder="<%= t('code.buttons.search') %>">
    </div>
    <button type="submit" class="btn btn-primary"><%= t('code.buttons.search') %></button>
  </form>
</div>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th>Estudante</th>
        <th>Criado por</th>
        <th>Data ocorrência</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @incidents) do |incident| %>
        <td><%= incident.id %></td>
        <td><%= incident.student.name %></td>
        <td><%= incident.user.try(:name) %></td>
        <td><%= incident.date_insident_format %></td>
        <td class="text-center">
          <%= link_to t('code.buttons.show'), incident, class: "btn btn-primary btn-xs" %>
          <%= link_to t('code.buttons.edit'), edit_incident_path(incident), class: "btn btn-primary btn-xs"%>
          <%= link_to t('code.buttons.destroy'), incident, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, class: "btn btn-danger btn-xs" %>
        </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @incidents %>
</div>
