<!--
  The MIT License (MIT)

  Copyright (c) 2016 C.O.D.E

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.
-->

<div class="subtitle-list page-header">
  <%= link_to incidents_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> <%= t('code.buttons.back') %>
  <% end %>
  <%= link_to edit_incident_path(@incident), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span> <%= t('code.buttons.edit') %>
  <% end %>
  <h1><%= t('code.incident.show_incident') %></h1>
</div>

<dl class="view">
  <dt><%= t('code.incident.student') %>:</dt>
  <dd><%= @incident.student.name %></dd>

  <dt><%= t('code.incident.date_incident') %>:</dt>
  <dd><%= @incident.date_insident_format %></dd>

  <dt><%= t('code.incident.created_by') %>:</dt>
  <dd><%= @incident.user.name %></dd>

  <dt><%= t('code.incident.description') %>:</dt>
  <dd><%= @incident.description.html_safe %></dd>

  <dt><%= t('code.incident.solution') %>:</dt>
  <dd><%= @incident.soluction.html_safe %></dd>

</dl>
