<div class="subtitle-list page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> <%= t('code.buttons.back') %>
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span> <%= t('code.buttons.edit') %>
  <% end %>
  <h1><%= t('code.profile.show_user') %></h1>
</div>

<dl class="view">
  <dt><%= t('code.profile.name') %>:</dt>
  <dd><%= @user.name %></dd>

  <dt><%= t('code.profile.admin') %>:</dt>
  <dd><%= @user.admin %></dd>

  <dt><%= t('code.profile.status') %>:</dt>
  <dd><%= @user.status %></dd>

</dl>
