<div class="col-sm-12">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="jumbotron">
    <h1>C.O.D.E</h1>
    <h2><%= t('code.title')%></h2>
    <h4><%= t('code.message.welcome')%> <%= current_user.name %></h4>
    <p><%= t('code.text.about.short') %></p>
    <a href="#" class="btn btn-primary btn-large"><%= t('code.message.see_more')%></a>
  </div>
</div>
