<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>C.O.D.E - <%= t('code.title')%></title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="project-name"><%= image_tag 'code.png', width: 40 %> C.O.D.E</h1>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to t('code.link.home'), root_path %></li>
          <li><%= link_to t('code.link.about_system'), about_path %></li>
          <li><%= link_to t('code.link.contributors'), 'https://github.com/sistemacode/code/graphs/contributors'%></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="col-md-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <% if current_user.admin? %>
        <%= link_to t('code.student.title'), students_path, class: "list-group-item" %>
        <% end %>
        <%= link_to t('code.school_performace.title'), school_performaces_path, class: "list-group-item" %>
        <%= link_to t('code.incident.title'), incidents_path, class: "list-group-item" %>
        <% if current_user.admin? %>
        <%= link_to t('code.report'), report_path, class: "list-group-item" %>
        <% end %>
        <%= link_to t('code.profile.title'), "/perfil", class: "list-group-item"%>
        <% if current_user.admin? %>
        <%= link_to t('code.user'), users_path, class: "list-group-item" %>
        <% end %>
        <%= link_to t('code.logout'), destroy_user_session_path, :method => :delete, class: "list-group-item" %>
      </div>
    </div>
    <div class="col-md-9">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
    <hr>
    <footer class="col-md-12">
      <p>C.O.D.E - <%= t('code.title') %> - 2015 - <%= Time.now.year %></p>
    </footer>
  </div>
</body>
</html>
